.swal2-popup {
    padding: 15px !important;
}

.swal2-content {
    height: 100% !important;
    padding-right: 8px !important;
    text-align: left !important;
    overflow-y: hidden;
}

.swal2-title {
    display: block !important;
}

.swal2-modal .swal2-styled:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.swal2-content {
    overflow-x: hidden;
}