body {
    overflow-x: hidden;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.sistema {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    scroll-padding: 50px 0 0 50px;
}

.tudo {
    display: none;
}

/* NAVBAR */
.navbar {
    background-color: rgb(50, 50, 61) !important;
    height: 80px;
    padding: 0px !important;
}

.navbarEsquerda {
    width: 300px;
    height: 100%;
    text-align: center;
    float: left;
}

.navbarDireita {
    float: right;
    width: calc(100% - 300px);
    height: 100%;
}

.imgTitulo {
    margin-top: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-collapse {
    margin: 0px !important;
    margin-left: 2px !important;
    margin-top: 18px !important;
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
    background-color: rgb(193, 193, 196) !important;
}

.titulo {
    font-size: 23px;
    text-align: center;
    margin-top: 28px;
    float: left;
    width: 100%;
    color: rgb(151, 176, 235);
    font-family: Comfortaa;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* SIDE NAVBAR */

.side-nav.fixed {
    background-color: rgb(59, 59, 75);
    top: 80px;
    bottom: 100px !important;
    height: calc(100vh) !important;
    overflow-y: hidden;
}

#sidenav-overlay {
    margin-left: 300px !important;
    background-color: transparent !important;
}

.sideDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.divTitulo {
    width: 100%;
    background-color: rgb(69, 69, 85);
    height: 180px;
}

.nome {
    font-family: Comfortaa;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    margin-top: 6px;
    margin-bottom: 0px;
}

.tipo {
    text-align: center;
    color: whitesmoke;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.divLinhas {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 100px !important;
}

.sideContainer {
    display: table-cell;
    vertical-align: middle;
}

.iconeNode {
    margin-left: -5px;
    margin-top: 2px
}

.node,
.linha {
    color: white;
    padding-left: 15px;
    width: 100%;
    height: 48px;
    display: table;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: color 200ms;

}

@media only screen and (min-width : 992px) {

    .node:hover,
    .linha:hover {
        color: rgb(127, 148, 197) !important;
    }
}

.linha:active {
    color: rgb(127, 148, 197);
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.textoNode {
    margin-left: 3px;
    font-size: 18px;
}

.textoChildren {
    margin-left: 3px;
    font-size: 16px;
}

.conjunto {
    display: none;
    width: 100%;
}

.hidden {
    padding-left: 40px;
    background-color: rgb(50, 50, 61);
}

.divLinhas::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* CONTENT */

main {
    overflow-x: auto;
    margin-left: 300px;
}

.content {
    padding-left: 40px;
    padding-right: 40px;
}

/*breadcrumbs*/
.breadcrumbs {
    display: inline-flex;
    border-bottom: 1px solid rgb(92, 102, 188);
    margin-bottom: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.breadcrumbs:hover,
.breadcrumbs:hover * {
    color: rgb(141, 152, 243);
    cursor: pointer;
}

.breadcrumbs:hover {
    border-bottom: 1px solid rgb(141, 152, 243);
}

.breadcrumbs-icone {
    margin-top: 7px;
    font-size: 30px !important;
    color: rgb(92, 102, 188);
    display: inline-flex !important; 
}

.breadcrumbsTitulo {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 26px;
    color: rgb(92, 102, 188);
    font-family: Comfortaa;
    white-space: nowrap;
}

/* FOOTER */

.footer {
    width: 100% !important;
    height: 150px !important;
    background-color: rgb(74, 80, 88) !important;
    position: relative;
    padding-left: 300px;
}

.footerLinha {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
}

.copyright-titulo {
    font-size: 20px;
    color: rgb(151, 176, 235);
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.copyright {
    font-size: 17px;
    color: aliceblue;
    margin-top: 35px;
    margin-bottom: 10px;
}

.versao {
    font-size: 16px;
    color: rgb(151, 176, 235);
    margin-top: 20px;
    margin-bottom: 10px;
}

.linkFooter {
    color: rgb(68, 221, 104);
    transition: color 300ms;
}

.linkFooter:hover {
    color: rgb(40, 167, 69);
}

#linkFooter2,
#brTitulo {
    display: none;
}

/* Console */

.consoleModal {
    overflow-y: hidden !important;
}

.modal-content {
    height: 82px !important;
    padding-left: 10px !important;
}

.conteudoConsole {
    overflow-y: auto;
    overflow-x: auto;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 10px);
    height: calc(100% - 82px);
}

.divBotoes {
    position: absolute;
    right: 20px;
    height: 100%;
    margin-top: 3px;
}

.consoleBotao {
    font-size: 18px;
    color: rgb(50, 50, 61) !important;
}

.consoleBotao:hover {
    cursor: pointer;
    color: rgb(38, 166, 154) !important;
    text-decoration: underline !important;
}

.consoleBotao-ferramentas {
    margin-right: 8px;
}

.consoleTexto {
    font-size: 22px;
    height: 100%;
}

.consoleContent {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.conteudoConsoleHorario {
    color: darkslategray;
    float: left;
}

.console-erro {
    color: crimson;
}

.toastTexto {
    margin-left: 8px;
}

.toast-erro {
    color: crimson;
}

.toastTexto,
.toast-action,
.consoleContent {
    white-space: nowrap;
}

.noAlertas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 18px;
    color: grey;
}

/* MISC */

@font-face {
    font-family: Comfortaa;
    src: url('../componentes/fontes/Comfortaa-Regular.ttf');
}

::-moz-selection {
    color: aliceblue;
    background: rgb(136, 164, 230);
}

::selection {
    color: aliceblue;
    background: rgb(136, 164, 230);
}

.container {
    display: inline;
}

.arrow {
    transition: all 0.2s ease;
    transform: rotateZ(90deg);
    float: right;
    margin-right: 10px;
    margin-top: -4px;
    font-size: 35px;
}

label {
    margin-bottom: 0px;
}