/* colapso da sidebar */
@media only screen and (max-width : 992px) {
    main {
        margin-left: 0px;
    }

    .footer {
        padding-left: 0px;
    }

    #carregamentoModulo {
        left: 0px !important;
    }

    .titulo {
        font-size: 18px;
    }

    .loading-modulo {
        padding-left: 0px !important;
    }
}


/* reduz um pouco o titulo e diminui navbarEsquerda */
@media only screen and (max-width : 854px) {
    .titulo {
        font-size: 16px;
    }

    .navbarEsquerda {
        width: 250px;
    }

    .navbarDireita {
        width: calc(100% - 250px);
    }
}

@media only screen and (max-height : 800px) {
    .navbar {
        height: 80px;
    }

    .side-nav {
        top: 80px !important;
    }
}

/* reduz ainda mais o titulo */
@media only screen and (max-width : 854px) {
    .titulo {
        font-size: 14px;
    }
}

/* diminui a navbar */
@media only screen and (max-height : 700px) {
    .navbar {
        height: 70px;
    }

    .side-nav {
        top: 70px !important;
    }

    .imgTitulo {
        margin-top: 7px;
        width: 142px;
        height: 50px;
    }

    .button-collapse {
        margin-top: 10px !important;
    }

    .titulo {
        margin-top: 25px;
    }
}

/* some com o titulo */
@media only screen and (max-width : 688px) {
    .navbarDireita {
        display: none;
    }

    .navbarEsquerda {
        width: 100%;
    }

    .linhaTituloImg {
        position: absolute;
        left: 0;
        right: 0;
    }
}

/* side bar 100% e diminuição do footer */

@media only screen and (max-width : 600px) {
    .content {
        padding-left:15px;
        padding-right: 15px;
    }
    
    .side-nav {
        width: 100% !important;
    }

    #linkFooter1 {
        display: none;
    }

    #linkFooter2 {
        display: inline;
    }

    #brTitulo {
        display: block;
    }

    .copyright-titulo {
        margin-top: 20px
    }
}

@media only screen and (max-width : 364px) {
    .copyright {
        font-size: 17px
    }
}

/* navbar */